@import url("https://use.typekit.net/fio1cdf.css");
@import url("https://use.typekit.net/fio1cdf.css");

h1, h2, main{
  font-family: input-mono, monospace;
  font-weight: 200;
  font-style: normal;
  color: blue;
}

h1, h2 {
  text-align: center;
}
  h1{
    font-size: 150px;
    /* font-size: 11vw; */
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    z-index: -1;
  }
  h2{
    font-size: 12px;
  }

main {
  text-align: left;
  top: 10%;
  position: fixed;
}
a{
  text-decoration: none;
  color: blue;
  transition: color 5s ease;
}
  a:hover{
    color: white;
    transition: color 0.5s ease;
  }

aside{
  height: 1px;
  width: 100vw;
  top: 100vh;
  left: -5px;
  position: fixed;
  background-color: red;
  box-shadow: 10px 0px 3px 5px blue;
}


@media screen and (max-width: 450px) {
  h1{
    font-size: 140px;
  }
  main{
    top: 500px;
  }
}
