@font-face {
  font-family: Ortica;
  src: url(Ortica-Bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: Ortica;
  src: url(Ortica-Light.woff);
  font-weight: lighter;
}

/* global styles */
html{
  font-family: Ortica;
}
h1{
  font-weight: bold;
  font-size: 4vw;
  text-align: center;
  padding: 10px;
  margin: 30px auto 40px auto;
  width: 35%;
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px;
}
h3{
  font-weight: bold;
  font-size: 2vw;
  margin: 15px 0px 0px 20px;
}
p {
  font-weight: lighter;
  font-size:1.3vw;
  line-height: 1.4;
  width: 90%;
  padding: 10px auto 10px 20px;
  padding-left: 20px;
}
a {
  text-decoration: none;
  color: black;
}
audio {
  border: 1px solid black;
  background-color: #EDF2F3;
}

footer {
  margin-left: 2%;
}
  p.footer{
    font-size: 11px;
    margin-top: 81vh;
  }


/* home page player */
.playlist{
  width: 93%;
}
#player {
position: absolute;
left: 0; top: 0;
transform: translate(-100%, -100%);
}
.music-button {
  cursor: pointer;
  font-size: 1.2vw;
}
.player-container{
  border: 1px solid black;
  background-color: white;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 160px;
  /* height: 20vh; */
}
  .player-container summary {
    display: inline-block;
    padding-left: 7%;
    margin-top: -1%;
  }
  .player-container p {
    font-weight: lighter;
    width: 100%;
  }
    .player-entry{
      border: 1px solid black;
      box-shadow: 3px 3px black;
      background-color: white;
      padding: 3px 0px 3px 8px;
      margin-left: 12px;
    }
  .player-container summary img {
    width: 100px; height: auto;
    border: 1px solid black;
    float: left;
  }
button{
  font-weight: bold;
  font-size: 12px;
  box-shadow: 3px 3px black;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  margin: 3% 0px 0px 5px;
}
  button:hover{
    box-shadow: none;
    transition: 1s;
    cursor: pointer;
  }
.instruction {
  padding-left: 2%;
  margin-left: 0px;
}

/* home page contents */
div.container {
  margin-left: 3%;
  margin-bottom: 10px;
}
div.home-column-left {
  float: left;
  width: 44%;
}
div.home-column-right {
  float: left;
  width: 50%;
  margin-left: 2%;
}
div.calendar {
  margin-bottom: 20px;
  margin-top: -5px;
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
  div.cal-grid{
    float: left;
  }
  img.cal-img {
    width: 8vw;
    margin-top: 6px;
    border: 1px solid black;
    box-shadow: 3px 3px black;
  }
  span.songname{
    font-weight: bold;
    font-size: 1.1vw;
    padding: 2px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    z-index: 1;
    margin-top: 2%;
    margin-left: -4%;
    position: absolute;
    visibility: hidden;
  }
  div.img1:hover span.songname{
    visibility: visible;
    }
  div.img2:hover span.songname{
    visibility: visible;
    }
  div.img3:hover span.songname{
    visibility: visible;
    }
  div.img4:hover span.songname{
    visibility: visible;
    }
  div.img5:hover span.songname{
    visibility: visible;
    }
  div.img6:hover span.songname{
    visibility: visible;
    }
  div.img7:hover span.songname{
    visibility: visible;
    }
  div.img8:hover span.songname{
    visibility: visible;
    }
  div.img9:hover span.songname{
    visibility: visible;
    }
  div.img10:hover span.songname{
    visibility: visible;
    }
  div.img11:hover span.songname{
    visibility: visible;
    }
  div.img12:hover span.songname{
    visibility: visible;
    }

div.welcome{
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
  width: 93%;
  padding-left: 15px;
}
  p.welcome-text{
    font-size: 1.2vw;
  }
div.entries{
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px;
  padding: 15px 0px 5px 15px;
  margin-bottom: 10px;
  width: 93%;
}
  div.entries:hover{
    box-shadow: none;
    transition-duration: 1s;
  }
p.entry-title{
  font-weight: bold;
  font-size: 1.4vw;
  display: inline;
}
p.date-homepage{
  font-weight: lighter;
  font-size: 1vw;
  margin-top: 0px
}

div.scroll{
  overflow: scroll;
  height: 70vh;
}
  div.scroll::-webkit-scrollbar {
    display: none;
  }





/* entry styles */
/* nav */
div.column-left{
  font-size: 0.8em;
  overflow: auto;
  float: left;
  width: 15%;
  height: 100vh;
  position: fixed;
}
  div.column-left::-webkit-scrollbar {
    display: none;
  }
  div.nav{
    border: 2px solid black;
    box-shadow: 5px 5px black;
  }
    div.nav:hover{
      box-shadow: none;
      transition: 1s;
    }
    p.bold{
      font-weight: bold;
    }

    div.nav-space{
     height: 15px;
    }
    img.entry-img {
      width: 90%;
      margin-bottom: 10px;
      margin-left: 3%;
      border: 1px solid black;
      box-shadow: 5px 5px black;
    }
      img.entry-img:hover{
        box-shadow: none;
        transition: 0.5s;
      }
    span.entryname{
      font-weight: bold;
      font-size: 1vw;
      padding: 3px;
      background-color: white;
      border: 1px solid black;
      box-shadow: 2px 2px black;
      z-index: 1;
      margin-top: 35%;
      margin-left: -65%;
      position: absolute;
      visibility: hidden;
    }
      div.img1:hover span.entryname{
        visibility: visible;
      }
      div.img2:hover span.entryname{
        visibility: visible;
        }
      div.img3:hover span.entryname{
        visibility: visible;
        }
      div.img4:hover span.entryname{
        visibility: visible;
        }
      div.img5:hover span.entryname{
        visibility: visible;
        }
      div.img6:hover span.entryname{
        visibility: visible;
        }
      div.img7:hover span.entryname{
        visibility: visible;
        }
      div.img8:hover span.entryname{
        visibility: visible;
        }
      div.img9:hover span.entryname{
        visibility: visible;
        }
      div.img10:hover span.entryname{
        visibility: visible;
        }
      div.img11:hover span.entryname{
        visibility: visible;
        }
      div.img12:hover span.entryname{
        visibility: visible;
        }


  /* img.image-nav{
    box-shadow: none;
    width: 90%;
    margin-left: 5%;
    margin: 5px auto auto 5%;
  } */
  img.nav-icons{
    margin: 5px auto auto auto;
    display:block;
  }

  span.album-title1{
    visibility: hidden;
    font-size: 1.1vw;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    position: absolute;
    z-index: 1;
    margin-top: 35%;
    margin-left: -40%;
  }
  span.album-title2{
    visibility: hidden;
    font-size: 1.1vw;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    position: absolute;
    z-index: 1;
    margin-top: 80%;
    margin-left: -80%;
    width: 80%;
  }
  div.nav-entry1:hover span.album-title1{
    visibility: visible;
    }
  div.nav-entry2:hover span.album-title2{
    visibility: visible;
  }

/* written contents */
div.column-right{
  float: left;
  width: 80%;
  margin-left: 20%;
  padding: 0px 50px;
  box-sizing: border-box;
}
div.end{
  margin-bottom: 100px;
}
div.writing{
  margin-left: auto;
  margin-right: auto;
}
h2{
  font-weight: bold;
  font-size: 6vw;
  margin-bottom: 0px;
  padding: 5px 5px 5px 10px;
  width: 70%;
  border: 1px solid black;
  box-shadow: 10px 10px black;
}
  h2.h2-entry2{
    font-size: 5vw;
    background-color: #FFFCDD;
  }
  h2.h2-entry5{
    font-size: 5vw;
    width: 75%;
    background-color: #EDF0F0;
  }
p.entry-date{
  font-weight: bold;
  font-size: 1.3vw;
  padding-left: 10px;
  margin-left: 0px;
  width: 15%;
  border: 1px solid black;
}
div.song-info{
  width:70%;
}
  img.album-image{
    width: 103%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px black;
  }
    img.line{
      border: 1px solid black;
    }
    img.album-image:hover {
      box-shadow: none;
      transition: 1s;
    }
  p.data{
    font-weight: bold;
    font-size: 1.3vw;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 103%;
    box-sizing: border-box;
    }


p.link:hover{
  box-shadow: none;
  transition: 1s;
}
p.paragraph-container{
  border: 1px solid black;
  box-shadow: 10px 10px black;
  padding: 20px;
  margin-bottom: 20px;
}
.quote {
  font-weight: bold;
  font-size: 2.5vw;
}
  .quote2 {
    font-weight: bold;
    font-size: 1.9vw;
  }
  .korean {
    font-family: 'Song Myung', serif;
  }

img.myimg {
  width: 95.5%;
}

iframe{
  margin: 20px auto 20px auto;
  box-sizing: border-box;
  width: 95%;
  height: 70vh;
}
  iframe:hover {
    box-shadow: none;
    transition: 1s;
  }

div.conversation {
  padding: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px black;
  width: 93%;
}
  audio.talk1 {
    margin-left: 20%;
    width: 40%;
  }
  audio.talk2 {
    margin-left: 40%;
    width: 40%;
  }


/* background colors */
.entry1-color {
  background-color: #D3D3D3;
}
.entry2-color {
  background-color: #FFFCDD;
}
.entry5-color {
  background-color: #EDF0F0;
}
.entry6-color {
  background-color: #F6F6EA;
}
.entry7-color {
  background-color: #DCE8F6;
}
.entry8-color {
  background-color: #E2CEF5;
}
.entry9-color {
  background-color: #FFD6DD;
}
.entry10-color {
  background-color: #E5EAEC;
}
.entry12-color {
  background-color: #D2D8EA;
}


@media screen and (max-width: 600px){
/* home page layout */
div.home-column-left{
  width: 104%;
  display: block;
  margin-left: -10px;
  box-sizing: border-box;
}
  h1{
    font-size: 30px;
    width: 97%;
    margin-left: 0px;
    box-sizing: border-box;
    box-shadow: 5px 5px black;
  }
  h3{
    font-size: 20px;
  }
  img.cal-img{
    width: 80%;
  }
  span.songname{
    font-size: 12px;
    padding: 3px;
    margin-left: -60px;
    margin-top: 40px;
  }

div.home-column-right{
  width: 100%;
  display: block;
  margin-left: 0px;
  margin-top: 25%;
}
  p.welcome-text{
    font-size: 14px;
    padding-left: 6px;
  }
  p.entry-title{
    font-size: 20px;
  }
  p.date-homepage{
    font-size: 14px;
  }
  div.entries{
    padding-left: 3px;
  }

.player-container {
  height: 130px;
}
.player-container summary{
  padding-left: 30px;
  margin-left: 30px;
}


/* side nav */
div.column-left{
  float: left;
  width: 100px;
  height: 520px;
  position: absolute;
  z-index: 10;
  margin-left: -105px;
  transform: rotate(-90deg);
  transform-origin: right top;
  padding-top: 60px;
}
  div.nav{
    width: 50px;
    background-color: white;
    transform: rotate(90deg);
    transform-origin: right top;
  }
    div.nav-home{
      margin-left:40px;
      height: 80px;
    }
      img.img-home{
        margin-top: 50%;
      }
    div.nav-next{
      margin-top: -34px;
      margin-left: 40px;
    }
      div.nav-next1{
        margin-top: -20px;
        margin-left: 40px;
        height: 80px;
        margin-bottom: -50px;
      }
      img.img-next {
        margin-top: 50%;
      }
    div.nav-prev{
      margin-top: -20px;
      margin-left: -9px;
    }
      div.nav-prev1{
        margin-top: -20px;
        margin-left: 40px;
        height: 80px;
        margin-bottom: -50px;
      }
      img.img-prev {
        margin-top: 50%;
      }
  div.nav-space{
    height: 0px;
  }
  div.img-nav{
    margin-top: 70px;
    margin-left: 3px;
  }
  div.nav-grid{
    width: 90px;
    float: left;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  span.entryname{
    font-size: 12px;
    margin-left: -80px;
  }

/* entry (content) layout */
div.column-right{
  margin: 110px 0px 0px 0px;
  padding: 0px 10px 0px 0px;
  width: 100%;
  box-sizing: border-box;
}
  div.song-info{
    width:100%;
  }

/* specific text styles */
h2 {
  font-size: 40px;
  width: 100%;
  box-sizing: border-box;
}
  h2.h2-entry2{
    font-size: 40px;
  }
p {
  font-size: 14px;
}
  p.entry-date {
    font-size: 12px;
    width: 25%;
  }
  p.data {
    font-size: 12px;
    box-sizing: border-box;
    width:102%;
  }
  .quote {
    font-size: 18px;
  }
p.paragraph-container {
  box-shadow: none;
}
  p.link {
    box-shadow: 5px 5px black;
  }

/* video/audio controls */
img.album-image{
  width: 100%;
}
iframe {
  width: 102%;
  height: 25vh;
  box-sizing: border-box;
}
audio {
  width: 102%;
  height: 50px;
  box-sizing: border-box;
}
  audio.talk1, audio.talk2{
    margin-left: 15%;
    width: 70%;
  }

img.myimg {
  width: 103%;
  box-sizing: border-box;
}

@media screen and (max-width: 414px){
  div.column-left{
    height: 320px;
  }
}
